@import url("https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: 'Volkhov', arial, sans-serif;
  font-size: 16px;
  background: black url(../img/AoO_Board.jpg) center center no-repeat;
  background-size: contain;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

#mocha {
  background-color: black;
  position: absolute;
  right: 20px;
  top: 40%;
  color: white; }

.decks-container {
  display: flex;
  flex-direction: column;
  height: 50vh;
  max-height: 50vw;
  width: 90vw;
  max-width: 90vh;
  margin-top: -6vh; }

.wrapper {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.card-container {
  max-width: 15vw;
  margin: 0 0.5rem;
  position: relative; }

.front,
.back {
  box-sizing: border-box;
  backface-visibility: hidden;
  transition: transform .8s ease; }
  .front img,
  .back img {
    width: 100%;
    height: auto; }

.back {
  position: absolute;
  bottom: 1%;
  left: -1%;
  transform: rotateY(180deg) scale(1.11); }

.card-container {
  perspective: 75rem; }
  .card-container.active .front {
    transform: rotateY(-180deg); }
  .card-container.active .back {
    transform: rotateY(0deg) scale(1.11); }

.my-cards:not(.selected) .card-container:not(.active) {
  transition: transform .4s ease-in-out;
  cursor: pointer; }
  .my-cards:not(.selected) .card-container:not(.active):before {
    content: '';
    transition: all .4s ease-in-out; }
  .my-cards:not(.selected) .card-container:not(.active):hover {
    transform: scale(1.1); }
    .my-cards:not(.selected) .card-container:not(.active):hover:before {
      position: absolute;
      left: 5%;
      right: 5%;
      top: 5%;
      bottom: 5%;
      z-index: -1;
      animation: glow 1s infinite; }

.message {
  text-align: center;
  color: white;
  font-size: 7rem;
  text-shadow: 0 0 0.5rem #000;
  position: absolute;
  top: -100%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .message.active {
    top: 50%; }
  .message > div {
    opacity: 0;
    position: absolute;
    top: -100%;
    left: 50%;
    transition: opacity .4s ease-in-out; }
    .message > div.active {
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 1; }

@keyframes glow {
  0% {
    box-shadow: 0 0 1rem #FFF, 0 0 2rem #F8A50E; }
  50% {
    box-shadow: 0 0 1.5rem #FFF, 0 0 2.5rem #f7a204; }
  100% {
    box-shadow: 0 0 1rem #FFF, 0 0 2rem #F8A50E; } }
